body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	color: black; 
	line-height: 1.25;
	background-image: url('../images/hipster-line.gif');
	background-repeat: no-repeat;

}

.container {
	width: 800px;
	height: auto;
}

.header {
	padding: 140px 0 60px 0;
}

#main {
	padding: 20px;
}

#main p {
	margin-left: 20px;
	color: #999999;
	padding: 20px;
}

footer {
	padding: 20px;
	text-align: right;
}

h1,h2,h3,h4, p, ul, ol {
	margin-bottom: 20px;
}

p {
	margin: 15px 0;
}

.header h2 {
  font-size: 16px;
  font-family: Courier;
  opacity: .2;
}

.header h1 {
  font-size: 80px;
  padding: 0;
  margin: 0;
  color: #333333;
  line-height: .7;
  font-family: Courier;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -40px;
}

h2 a{
  opacity: .2;
}

a {
	color: #cccccc;
	text-decoration: none;
}

a:visited, a:hover, a:active {
	color: #000000;
}
img{
 width: 800px;
}

.frame img{
	padding: 100px;
	background: #fcfcfc;
	border: 1px solid #cccccc;
	box-shadow: 1px 1px 30px #cccccc;
}

.line {
	margin: 25px 0;
	border-bottom: 1px #cccccc solid;
}